page-home {
    .slick-slide {
        opacity: 0.6;
    }
    .slick-current {
        opacity: 1 !important;
    }
    .slick-dots li button:before {
        font-size: 50px !important;
    }
}

h5 {
    margin-top: 1.8rem;
    font-size: 1.6rem;
    padding-left: 10px;
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-weight: normal;
    font-size: 1.4rem;
    margin: 9px 8px 9px 0;
    padding-left: 10px;
}

.searchbar {
    position: absolute;
    padding-right: 16px;
}

.searchbar-input-container {
    position: relative;
    margin-right: 24px;
    display: block;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 100%;
}

.searchbar-md .searchbar-input {
    background-color: #f2475d;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.searchbar-md .searchbar-input::-moz-placeholder {
    color: white;
}

.searchbar-md .searchbar-input:-ms-input-placeholder {
    color: white;
}

.searchbar-md .searchbar-input::-webkit-input-placeholder {
    text-indent: 0;
    color: white;
}

.searchbar-md .searchbar-search-icon {
    left: 16px;
    top: 11px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><path%20fill='#ffffff'%20d='M337.509,305.372h-17.501l-6.571-5.486c20.791-25.232,33.922-57.054,33.922-93.257C347.358,127.632,283.896,64,205.135,64C127.452,64,64,127.632,64,206.629s63.452,142.628,142.225,142.628c35.011,0,67.831-13.167,92.991-34.008l6.561,5.487v17.551L415.18,448L448,415.086L337.509,305.372z%20M206.225,305.372c-54.702,0-98.463-43.887-98.463-98.743c0-54.858,43.761-98.742,98.463-98.742c54.7,0,98.462,43.884,98.462,98.742C304.687,261.485,260.925,305.372,206.225,305.372z'/></svg>");
    width: 21px;
    height: 21px;
}

.button-md {
    margin-top: 10px;
    box-shadow: #f2475d;
}

.ion-icon-mic {
    display: inline-block;
    font-size: 1.4em;
    margin-top: 20px;
    margin-right: 16px;
    color: white;
}

.ion-icon-pin {
    display: inline-block;
    font-size: 1.4em;
    margin-top: 10px;
    margin-left: 10px;
    color: #c8c7cc;
}

.review-point {
    margin: 0 0 2px;
    overflow: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: normal;
    text-overflow: inherit;
    color: #f4c87d;
}

.ion-icon-star {
    display: inline-block;
    font-size: 1.2em;
    color: #f4c87d;
    margin-top: -0.3rem;
}

.ion-icon-easel {
    display: inline-block;
    font-size: 1.2em;
    color: #28cfb0;
}

.ion-icon-locate {
    display: inline-block;
    font-size: 1.2em;
    color: #28cfb0;
}

.card-md {
    margin: 10px;
    border-radius: 10px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.item-md h2 {
    margin: 2px 0;
    font-size: 1.6rem;
    font-weight: BOLD;
}

.search-city {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -webkit-flex-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    -webkit-box-align: inherit;
    -webkit-align-items: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    min-height: inherit;
    /* border: 0; */
    border-bottom: 2px solid #dedede;
    margin-left: 70px;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -10px;
}

ion-scroll {
    white-space: nowrap;
    height: 700px;
}

ion-scroll .scroll-content {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    /* overflow-y: hidden; */
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}

ion-card img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.first {
    color: #8e8e93;
    font-weight: 500;
    padding-bottom: 0px;
    padding-top: 8px;
    padding-left: 8px;
}

.review {
    color: #f4c87d;
    font-size: 1em;
    margin-top: -0.9rem;
    margin-right: 16px;
}

.venue {
    color: #28cfb0;
    font-size: 1em;
    margin-top: -1rem;
    padding-right: 16px;
}

.activity-card {
    border-radius: 5px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.activity-card img {
    width: 100vw;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.activity-card-content {
    padding: 10px;
    font-size: 1.4rem;
    line-height: 1.5;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
    margin: 10px;
}

.activity {
    contain: content;
}

.activity-md {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.activity-block {
    margin: 0;
    padding: 0;
    text-align: initial;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    min-height: 3.0rem;
    height: 25px;
    border: 0;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    color: inherit;
}